.layout-container {
  display: flex;
  padding: 20px;
}
.main-content {
  padding: 20px;
  width: 100%;
}
@media (max-width:768px) {
  .layout-container{
    flex-direction: column;
  }
  .sidebar{
    width: 100%;
    min-height: auto;
  }
  .main-content {
    width: 100%;
  }
}