.navbar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  background-color: #FFFFFF;
  height: 70px;
  /*test
  display: flex;
  justify-content: center;
  align-items: center;*/
}
.navbar__logo{
  color: var(--primary-color);
}
.navbar__profile {
  color: var(--primary-color);
}