.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap:20px;
  margin-top: 30px;
}
.card {
  background-color: #FFFFFF;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 10px 10px #EFEFEF;
}
.card:hover {
  transform: translateY(-5px);
}
.card h1 {
  font-size: 30px;
}