.login-container{
  min-height: 100vh;
  background-color: #F5F7FA;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-card {
  width: 450px;
  background-color: #FFFFFF;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgb(100 97 97);
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.login-card h1 {
  font-size: 30px;
  font-weight: 600;
}
.login-card input {
  padding: 12px;
  border:1px solid #D1D5DB;
  border-radius: 8px;
  font-size: 16px;
  outline:none;
}
.login-card input:focus {
  border-color: #2563EB;
  outline: none;
}
.login-card button {
  padding: 15px;
  background-color: #2563EB;
  color: #FFFFFF;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}